Indian_Markets/Equity_Mutual_Funds_v1/data/simulations/portfolio_simulations_historical/k_3/
Indian_Markets/Equity_Mutual_Funds_v1/data/simulations/portfolio_simulations_monte_carlo/
Indian_Markets/Equity_Mutual_Funds_v1/data/simulations/market_scenarios_monte_carlo/